<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<base href="<?php echo base_url();?>" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--引入jauery文件-->
<script src="static/global/js/jquery.1.11.3.min.js"></script>
<!--引入弹框脚本文件-->
<script src="static/global/plugins/Layer/layer.js"></script>
<!--引入全局CSS文件-->
<link href="static/merchant/css/cada-merchant-base.css" rel="stylesheet">
<title>我的桌面</title>
</head>
<body style="background:#FFF;">
<form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
<input type="hidden"  name="id" value="<?php echo $one['id'];?>"/>
<input type="hidden" name="isCompany" value="<?php echo $one['isCompany'];?>"/>
<div class="baseinfo">
<h2>基础信息</h2>
<div class="basemain">
<div class="title"><div class="redTitle"><span><div>基础信息</div></span></div></div>
<ul>
<li><span class="wowo">区域:</span><?php echo $one['area'];?></li>
<li><span class="wowo">品牌:</span><?php echo $one['brand'];?></li>
<div class="clear"></div>
</ul>
<div class="title"><div class="redTitle"><span><div>联系人信息</div></span></div></div>
<div class="main-left" style="height:45px;">
<p style="float:left;"><span class="wowo">联系人:</span><input type="text" name="personName"  value="<?php echo $one['personName'];?>"/></p>
<p style="float:left;"><span class="wowo">联系电话:</span><input type="text" name="cellPhone"  value="<?php echo $one['cellPhone'];?>"/></p>
<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="title"><div class="redTitle"><span><div>公司信息</div></span></div></div></div>
<ul>
<li><span class="wowo">厂家名称:</span><input type="text" name="name"   	value="<?php echo $one['name'];?>"/></li>
<li><span class="wowo">总部地址:</span><input type="text" name="addrRess"   value="<?php echo $one['addrRess'];?>"/></li>
<div class="clear"></div>
</ul>
<div class="sysroom">
<label>商户描述:</label>
<textarea rows="5" cols="62" name="descriPtion"><?php echo $one['descriPtion'];?></textarea>
<div class="clear"></div>
</div>
<div class="sysroom"><input type="submit" value="保存信息"/></div>
</div>
</div>
</form>
</body>
</html>