<!DOCTYPE html>
<html>
<head>
<meta name="renderer" content="webkit">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<base href="<?php echo base_url();?>" />
<title>CADA云数聚</title>
<!--引入jauery文件-->
<script src="static/global/js/jquery.1.11.3.min.js"></script>
<!--引用框架样式文件-->
<link href="static/global/plugins/Bootstrap/css/bootstrap.css" rel="stylesheet">
<!--引入框架脚本文件-->
<script src="static/global/plugins/Bootstrap/js/bootstrap.min.js"></script>
<!--引入弹框脚本文件-->
<script src="static/global/plugins/Layer/layer.js"></script>
<!--引入全局CSS文件-->
<link href="static/admin/css/cada-admin-min.css" rel="stylesheet">
<!--引用字体样式文件-->
<link href="static/global/plugins/FontAwesome/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div id="message">
<h2><?php echo $one['title'];?></h2>
<p><?php  echo $one['content'];?></p>
<p><?php  echo strlen($one['image'])? '<img src="upload/admin/images/'.$one['image'].'" />':'';?></p>
<h3>消息时间:<?php echo $one['publicDate'];?></h3>
</div>
</body>
</html>