<!DOCTYPE html>
<html>
<head>
<meta name="renderer" content="webkit">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<base href="<?php echo base_url();?>" />
<title>CADA云数聚</title>
<!--引入jauery文件-->
<script src="static/global/js/jquery.1.11.3.min.js"></script>
<!--引用框架样式文件-->
<link href="static/global/plugins/Bootstrap/css/bootstrap.css" rel="stylesheet">
<!--引入框架脚本文件-->
<script src="static/global/plugins/Bootstrap/js/bootstrap.min.js"></script>
<!--引入弹框脚本文件-->
<script src="static/global/plugins/Layer/layer.js"></script>
<!--引入全局CSS文件-->
<link href="static/admin/css/cada-admin-min.css" rel="stylesheet">
<!--引入全局脚本文件-->
<script src="static/merchant/js/cada-merchant-min.js"></script>
<!--引入搜索脚本文件-->
<script src="static/admin/js/cada-admin-search.js"></script>
</head>
<script>
$(function(){
var provider='<?php echo $user;?>';
/**搜索选择器*/
var proposals =provider.split(",");
	 $('#o-name').autocomplete({hints: proposals});
});
</script>
<body>
<div id="cada-admin-menu" class="cada-admin-main">
<form class="form-inline" action="index.php/merchant/operator/search" method="post" id="formz" icon="user">
  <div class="form-group">
    <label for="menu-name">姓名</label>
    <input type="text" class="form-control" id="o-name" placeholder="登录名称" style="width:120px;" name="name">
  </div>
   <div class="form-group">
    <label for="menu-name">品牌</label>
	 <select class="form-control" id="area-type" style="width:120px;" name="brandId">
	 <option value="">选择</option>
	 <?php foreach($dict as $d){?>
	 <option value="<?php echo $d['id'];?>"><?php echo $d['name'];?></option>
	 <?php }?>
	</select>
  </div>
  <div class="form-group">
    <label for="menu-name">权限</label>
	 <select class="form-control" id="area-type" style="width:120px;" name="roleId">
	 <option value="">选择</option>
	 <?php foreach($role as $r){?>
	 <option value="<?php echo $r['id']?>"><?php echo $r['roleName'];?></option>
	 <?php }?>
	</select>
  </div>
   <div class="form-group">
    <label for="menu-name">区域</label>
	 <select class="form-control" id="area-type" style="width:120px;" name="areaId">
	 <option value="">选择</option>
	 <?php foreach($area as $a){?>
	 <option value="<?php echo $a['id']?>"><?php echo $a['name'];?></option>
	 <?php }?>
	</select>
  </div>
   <div class="form-group">
    <label for="menu-name">状态</label>
	 <select class="form-control" id="area-type" style="width:120px;" name="userStatus">
	 <option value="">选择</option>
	 <option value="1">正常</option>
	 <option value="2">禁用</option>
	 </select>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-danger" >查找</button>&nbsp;&nbsp;<button type="button" class="btn btn-danger" onclick="javascript:addShow('operator');">添加管理员</button>
</form>
<div class="dataDesc">
<ul>
  <li class="Idx">ID</li>
  <li class="onex">用户名</li>
  <li class="userx">姓名</li>
  <li class="markx">性别</li>
  <li class="typex">品牌</li>
  <li class="typex">区域</li>
  <li class="typex">权限</li>
  <li class="markx">状态</li>
  <li class="timex">登录时间</li>
  <li class="userx">操作人员</li>
  <li class="timex">操作时间</li>
  <li class="playx">操作</li>
</ul>
</div>
<div class="dataList">
<?php foreach($list as $key=>$val){?>
<ul>
  <li class="Idx"><?php echo  $key+1;?></li>
  <li class="onex"><?php echo $val['loginName'];?></li>
  <li class="userx"><?php echo $val['staffName'];?></li>
  <li class="markx"><?php echo $val['sex']==1?'男':'女';?></li>
  <li class="typex"><?php echo $val['brandName'];?></li>
  <li class="typex"><?php echo $val['areaName'];?></li>
  <li class="typex"><?php echo $val['roleName'];?></li>
  <li class="markx"><span class="label label-success"><?php echo $val['userStatus']==1?'正常':'禁用';?></span></li>
  <li class="timex"><?php echo $val['lastTime'];?></li>
  <li class="userx"><?php echo $val['operatorName'];?></li>
  <li class="timex"><?php echo $val['operationTime'];?></li>
  <li class="playx"><a href="javascript:saveShow('operator','<?php echo $val['id']?>');" class="btn btn-info">修改</a>&nbsp;&nbsp;
		 <a href="javascript:delRows('operator','<?php echo $val['id']?>');;" class="btn btn-danger">删除</a>
  </li>
</ul>
<?php }?>
</div>
<div class="relist" ><span>总记录数量<?php echo count($list);?>条,  &nbsp;每页显示100条</span></div>
<div class="pagev"><?php echo $page;?></div>
</div>
</body>
</html>