<!DOCTYPE html>
<html>
<head>
<meta name="renderer" content="webkit">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<base href="<?php echo base_url();?>" />
<title>CADA云数聚-区域添加</title>
<!--引入jauery文件-->
<script src="static/global/js/jquery.1.11.3.min.js"></script>
<!--引用框架样式文件-->
<link href="static/global/plugins/Bootstrap/css/bootstrap.css" rel="stylesheet">
<!--引入框架脚本文件-->
<script src="static/global/plugins/Bootstrap/js/bootstrap.min.js"></script>
<!--引入全局CSS文件-->
<link href="static/admin/css/cada-admin-min.css" rel="stylesheet">
<!--引入弹框脚本文件-->
<script src="static/global/plugins/Layer/layer.js"></script>
<!--引用字体样式文件-->
<link href="static/global/plugins/FontAwesome/css/font-awesome.css" rel="stylesheet">
</head>
<!--内部脚本-->
<script>
/*获取二级菜单选项*/
var U = $('base').attr('href');
var error="";
/**异步请求数据方法*/
function Fa(url, data) {
	var message;
	$.ajax({type: "POST",url: U + 'index.php/' + url,async: false,
		data: data,success: function(msg) {message = msg;}});
	return message;
}
/**判断必填项是否完成*/
function status(){
	if($.trim($("#passi").val()).length <= 0){
	   layer.msg('请输入原始密码', {icon:2,time: 2000});
	   return false;
	}
	if($.trim($("#passii").val()).length <= 0){
	    layer.msg('请输入新密码', {icon:2,time: 2000});
	    return false;
	}
    if($.trim($("#passiii").val()).length <= 0){
		   layer.msg('请验证新密码', {icon:2,time: 2000});
	       return false;
	}
   if($("#passiii").val()!=$("#passii").val()){
		layer.msg('两次输入密码不一致', {icon:2,time: 2000});
	       return false;
	}
	return true;
}
/**程序执行*/
$(function(){
	$('.layer_button').click(function(){
	   status()  && $('.layer_form').submit();
	});
});
</script>
<body>
<div id="cada-admin-menu" class="cada-admin-layer">
<form class="layer_form" method="post" action="index.php/merchant/Index/setPassword">
<input type="hidden" name="id" value="<?php echo $id;?>"/>
<ul>
<li>
    <label for="menu-name" >原始密码&nbsp;&nbsp;</label>
    <input type="password" class="form-control length-min" id="passi" placeholder="原始密码"  maxlength="16">
    <div class="clear"></div>
</li>
<li>
    <label for="menu-url" >新密码&nbsp;&nbsp;</label>
    <input type="password" class="form-control length-min" id="passii" placeholder="新密码"  name="userPwd" maxlength="16">
    <div class="clear"></div>
</li>
<li>
    <label for="menu-url" >验证密码&nbsp;&nbsp;</label>
    <input type="password" class="form-control length-min" id="passiii" placeholder="验证密码">
    <div class="clear"></div>
</li>
<div class="clear"></div>
</ul>
<div class="playDiv"><button type="reset" class="btn btn-default" >输入重置</button><button type="button" class="btn btn-info layer_button" >保存信息</button></div>
</form>
</div>
</body>
</html>