@CHARSET "UTF-8";
/* html {overflow-x: hidden;  } */
/* ::-ms-clear, ::-ms-reveal{display: none;} */
/*图片路径选择相对路径即可*/
body{margin:0;padding:0;font-family:"微软雅黑";min-width:1200px;min-height:675px;}
div,ul,li,a,p,h2,h3,h4,label{display:block;margin:0;padding:0;}
ul{list-style:none;}
.claer{
	clear:both;
}
/*整体布局*/
.main{background-color:#F1F1F1;width:100%;height:100%;}
.search{background-color:#fff;width:99.6%;height:60px;margin:0 auto;border-radius:5px;margin-bottom:10px;box-shadow:#ccc 0px 0px 2px;}
.total{background-color:#fff;width:99.6%;height:220px;margin:0 auto;border-radius:5px;margin-bottom:10px;box-shadow:#ccc 0px 0px 2px;}
.Contrast{width:99.6%;height:230px;margin:0 auto;border-radius:5px;box-shadow:#ccc 0px 0px 2px;margin-bottom:10px;}
.gw_model{display:block;background-color:#fff;width:99.6%;margin:0 auto;border-radius:5px;border-radius:5px;height:250px;box-shadow:#ccc 0px 0px 2px;margin-bottom:10px;}
.form-group{width:190px}
.form-inline{border-bottom:1px solid #fff;}
	/** 评测得分**/
.amount_tit{width:100%;text-align:center;height:30px;line-height:30px;border-bottom:1px solid #ccc;font-size:16px;color:#959898;}
.brand1{width:33.33%;}
.brand2{width:33.33%;}
.brand3{width:33.33%;}
.rank{width:100%;text-align:center;height:30px;line-height:30px; font-size:18px;}
/**five**/
.rank_model{width:100%;text-align:center;height:30px;line-height:30px; font-size:14px;border-bottom:1px solid #ccc;}
.model_que{background:#fff;width:19.6%;border-radius:5px;box-shadow:#ccc 0px 0px 2px;height:230px;margin-right:0.5%;color:#959898;}
.model_que_five{background:#fff;width:19.6%;border-radius:5px; box-shadow:#ccc 0px 0px 2px;height:230px;color:#959898;}
/***five_index**/
.gw_model .top_index{width:50%;height:225px;}
.top_index .top_tit{height:50px;color:#717171;font-size:16px;text-align:center;margin:0 auto;line-height:50px;}
.index_tit .tit_ul  li{float:left;text-align:center;border-bottom:1px solid #ccc;font-size:12px;color:#717171;}
.index_tit{width:96%;margin: 0 auto;}
.index_tit .content_ul  li{float:left;text-align:center;font-size:12px;margin-top:3px;color:#717171;}
 .gw_model .title{width:100%;margin:0 auto;border-bottom:1px solid #ccc;text-align:center;height:25px;font-size:14px;color:#717171;line-height:25px;}