<!DOCTYPE html>
<html>
<head>
<meta name="renderer" content="webkit">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<base href="<?php echo base_url();?>" />
<title>CADA云数聚-后台管理系统</title>
<!--引用字体样式文件-->
<link href="static/global/plugins/FontAwesome/css/font-awesome.css" rel="stylesheet">
<!--引入页面样式文件-->
<link rel="stylesheet" href="static/admin/css/cada-admin-index.css">
<!--引入jauery文件-->
<script src="static/global/js/jquery.1.11.3.min.js"></script>
<!--引入页面脚本文件-->
<script src="static/admin/js/cada-admin-index.js"></script>
<!--引入滚动条CSS样式文件-->
<link rel="stylesheet" href="static/global/plugins/Scoller/jquery.mCustomScrollbari.css">
<!--引入滚动条脚本文件-->
<script src="static/global/plugins/Scoller/jquery.mCustomScrollbar.concat.min.js"></script>
</head>
<body>
<div id="cada-admin-index"></div>
</body>
</html>